/* Updated CSS for a more user-friendly design */

/* Ensure sufficient contrast for readability */
.user-landing-page {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* White background */
  color: #333; /* Dark text color */
}

.notification {
  background-color: #f8f9fa; /* Light gray notification background */
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #333; /* Dark notification text color */
}

.booking-history h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.booking-item {
  border: 1px solid #e0e0e0; /* Light gray border */
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fafafa; /* Off-white background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.booking-item p {
  margin: 10px 0;
  font-size: 16px;
}

.booking-item .booked-at {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  color: #666; /* Gray text color for meta info */
}

/* Styling for the filter */
.filter-container {
  margin-bottom: 20px;
}

.filter-label {
  font-weight: bold;
  color: #333; /* Dark label text color */
}

.filter-input {
  width: calc(100% - 20px); /* Adjusted width to account for padding */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Styling for form elements */
.user-info-form label {
  font-weight: bold;
  color: #333; /* Dark label text color */
}

.user-info-form input {
  width: calc(100% - 20px); /* Adjusted width to account for padding */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.user-info-form button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.user-info-form button:hover {
  background-color: #0056b3;
}

/* Styling for the main container */
.main-container {
  background-color: #f8f9fa; /* Light gray background */
  padding: 20px;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  margin-bottom: 20px;
}

.datepicker {
  padding-top: 10px;
}

.scroll-container {
  overflow-y: auto; /* Add vertical scroll bar if content exceeds container height */
  max-height: 62vh; /* Set maximum height for the container */
}

.signout-button {
  padding: 5px 8px; /* Adjust padding for smaller size */
  font-size: 12px; /* Adjust font size for smaller size */
  width: auto; /* Set width to adjust based on content */
}
