.page-container {
  padding: 20px;
  padding-top: 20px;
}

.content-container {
  max-width: 750px;
  margin: 0 auto;
}

.faq-container {
  margin-bottom: 20px;
}

.inquiry-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 30px;
  background-color: #d2dee6;
}

.inquiry-header h1 {
  font-size: 30px;
  margin: 0;
}

.screenshot-line {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 50%;
}

.inquiry-container {
  background-color: #f9f9f9;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.inquiry-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.social-media {
  margin-top: 20px;
}

.social-media p {
  margin-bottom: 10px;
}

.social-media-icons {
  display: flex;
}

.social-icon {
  margin-right: 10px;
  color: #007bff;
  font-size: 24px;
  text-decoration: none;
}

.social-icon:last-child {
  margin-right: 0;
}
