.user-finance-data {
    margin: 0;
    padding: 20px;
    height: 100vh; /* Set the height to fill the viewport */
  }
  
  .finance-table-container {
    max-height: calc(100vh - 100px); /* Subtract header height if any */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
  }
  
  th {
    background-color: rgb(184, 237, 254);
  }
  
  .empty-table-message {
    text-align: center;
    padding: 20px;
    color: #666;
  }
  
  
  